header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  display: none;
}
@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }
}
