#sidebar {
  position: fixed;
  top: 60px; 
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #34495e;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 900;
}

#sidebar nav ul {
  list-style: none;
}
#sidebar nav ul li {
  padding: 10px 20px;
}
#sidebar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
#sidebar nav ul li a:hover {
  background-color: #2c3e50;
  border-radius: 4px;
}

#sidebar .menu-link.active{
  background-color: white;
  color: #2c3e50;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-100%);
  }
  #sidebar.active {
    transform: translateX(0);
  }
}
