.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-large {
  font-size: 1.5rem;
}

.text-title {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}
